.layout-brand {
    width: 80%;
}

.layout-container {
    background-color: black;    
    color: white;
}

.layout-footer {
    height: 5rem;
    padding: 1rem;
}

.layout-hamburguer {
    align-self: center;
}

.layout-hamburguer-menu {
    height: 2rem;    
    width: 2rem;
}

.layout-header {
    background-color: black;
    display: flex;    
    height: 5rem;
    left: 0;
    padding: 1rem;    
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 1;
}

.layout-main {
    margin-top: 7rem;
    min-height: 80vh;
    padding: 1rem;
    position: relative;
   
}

.layout-hamburguer-links {
    background-color: black;
    font-size: 1rem;    
    padding: 1rem;    
    position: absolute;
    right: 0;
    top: 7rem;
    width: 35%;
    z-index: 5;
}

.layout-hamburguer-links a:link, 
.layout-hamburguer-links a:visited {
    color: white;
    text-decoration: none;    
}

.layout-hamburguer-links li {
    font-weight: bold;    
    margin-bottom: 1.5rem;
}

.layout-hamburguer-links ul {
    list-style-type: none;
}

.layout-menu {
    display: none;
    margin-right: 2rem;
}

@media screen and (min-width: 600px){
    .layout-menu {
        display: inline; 
    }

    .layout-hamburguer {
        display: none;
    }    
}

.layout-menu-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.layout-menu-links li {
    margin: 5px;
}

.layout-menu-links a:link {
    text-decoration: none;
    color: white;
}

.layout-menu-links a:visited {
    text-decoration: none;
    color: white;
}