/* refactor  */
/*
.layout-brand {
    width: 80%;
}

.layout-container {
    background-color: black;    
    border: 1px solid white;
    color: white;
}

.layout-footer {
    border: 1px solid white;
    height: 5rem;
    padding: 1rem;
}

.layout-hamburguer {
    align-self: center;
}

.layout-hamburguer-menu {
    height: 2rem;    
    width: 2rem;
}

.layout-header {
    background-color: black;
    border: 1px solid white;
    display: flex;    
    height: 5rem;
    left: 0;
    padding: 1rem;    
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 1;
}

.layout-main {
    border: 1px solid white;
    height: 100vh;    
    margin-top: 5rem;
    position: relative;
}

.layout-hamburguer-links {
    border: 1px solid white;    
    font-size: 1rem;    
    padding: 1rem;    
    position: absolute;
    right: 0;
    top: 7rem;
    width: 35%;
    z-index: 5;
}

.layout-hamburguer-links a:link, 
.layout-hamburguer-links a:visited {
    color: white;
    text-decoration: none;    
}

.layout-hamburguer-links li {
    font-weight: bold;    
    margin-bottom: 1.5rem;
}

.layout-hamburguer-links ul {
    list-style-type: none;
}
*/
/* refactor  */