iframe {
    position: absolute;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.video-detail p {
    text-align: justify;
    align-self: center;
}

.video-player {
    align-self: center;
    height: 240px;
    position: relative;    
    width: 320px;
}

@media screen and (min-width: 640px) {
    iframe {
        position: absolute;
    }

    .video-container {
        flex-direction: column;
    }    

    .video-player {
        width: 926px;
        height: 521px;
    }     
}