
h1 {
    /* font-size: 40px; */
    color: red;
}

/*
.site-name {
    width: 500px;
    border: 1px solid white;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.header-navigator {
    display: none;
}

.header-hamburguer-menu {
    display: inline;
    border: 1px solid white;
}   

@media screen and (min-width: 600px){
    .header-navigator {
        display: inline; 
    }

    .header-hamburguer-menu {
        display: none;
    }    
}

.site-name {
    border: 1px solid blue;
    
}
*/