.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.nav-links li {
    margin: 5px;
}

.nav-links a:link {
    text-decoration: none;
    color: white;
}

.nav-links a:visited {
    text-decoration: none;
    color: white;
}