.photo-thumbnail {
    cursor: pointer;    
    margin: 0.5rem;
}

.photo-thumbnail-container {
    align-self: center;
    position: relative;
}

.photo-thumbnail-detail {
    padding: 1rem;
}

.photo-thumbnail-hover {
    display: none;
    background-color: black;
}

.photo-thumbnail-hover-active {
    border: 1px solid white;    
    cursor: pointer;    
    display: inline;
    left: -10px;    
    position: absolute;
    top: -10px;
    z-index: 2;
}

.photo-thumbnail-wrap {
    visibility: hidden;
}

@media screen and (min-width: 640px) {
    .photo-thumbnail-wrap {
        visibility: visible;        
    }
}